@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

a { text-decoration: none; }

.container-pad {
  @apply mx-auto max-w-6xl px-4;
}

.card {
  @apply rounded-2xl bg-white shadow-sm ring-1 ring-slate-200;
}
